<footer>
	<div class="footer__body">
		<div class="footer__column column-1">
			<p class="privacy-policy" [routerLink]="['/policy']">Політика конфіденційності</p>
		</div>
		<div class="footer__column column-2">
			<p class="footer-company">© 2023 ТОВ «ColorCube»</p>
		</div>
		<div class="footer__column column-3">
			<div class="footer__icons">
				<a href="https://www.facebook.com/" target="_blank" class="footer-icon">
					<i nz-icon nzType="facebook" nzTheme="fill"></i>
				</a>
				<a href="https://twitter.com/" target="_blank" class="footer-icon">
					<i nz-icon nzType="twitter-circle" nzTheme="fill"></i>
				</a>
				<a href="https://www.instagram.com/" target="_blank" class="footer-icon"><img
						src="../../../../assets/images/icons/brand_name.svg" alt=""></a>
			</div>
		</div>
	</div>
</footer>