.gallery {
	padding: 60px 0 0 0;
	font-size: 15px;
	line-height: 24px;

	@media (max-width: 1202px) {
		padding: 45px 0 0 0;
	}

	@media (max-width: 991.98px) {
		padding: 30px 0 0 0;
	}

	&__body {}

	&__item {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin: 0px 0px 65px 0px;
		padding: 0 30px;

		@media (max-width: 991.98px) {
			margin: 0px 0px 55px 0px;
		}

		@media (max-width: 767.98px) {
			margin: 0px 0px 45px 0px;
		}
	}

	&__title {
		text-align: center;
		margin: 0px 0px 30px 0px;

		@media (max-width: 1202px) {
			line-height: 42px;
		}

		@media (max-width: 991.98px) {
			line-height: 38px;
			margin: 0px 0px 30px 0px;
		}

		@media (max-width: 520px) {
			max-width: 260px;
		}

		@media (max-width: 479.98px) {
			font-size: 34px;
			line-height: 36px;
		}
	}

	&__subtitle {
		font-size: 20px;
		font-weight: 400;
		text-align: center;

		@media (max-width: 767.98px) {
			font-size: 18px;
		}
	}

	&__content {
		margin: 0px 0px 100px 0px;
		padding: 0 30px;

		@media (max-width: 1202px) {
			margin: 0px 0px 80px 0px;
		}

		@media (max-width: 991.98px) {
			margin: 0px 0px 60x 0px;
		}

		@media (max-width: 767.98px) {
			margin: 0;
			padding: 0;
		}

		@media (max-width: 520px) {
			margin: 0px 0px 30px 0px;
		}
	}

	&__row {
		display: flex;
		justify-content: space-between;
		margin: 0px 0px 80px 0px;

		@media (max-width: 1202px) {
			margin: 0px 0px 70px 0px;
		}

		@media (max-width: 991.98px) {
			margin: 0px 0px 60px 0px;
		}

		@media (max-width: 767.98px) {
			margin: 0;
			flex-wrap: wrap;
		}
	}

	&__row:last-child {
		margin: 0;
	}

	&__column {
		flex: 0 0 31%;
		display: flex;
		flex-direction: column;
	}

}

.column-item {
	align-items: center;

	@media (max-width: 767.98px) {
		flex: 1 1 100%;
		margin: 0px 0px 30px 0px;
	}

	&__img {
		width: 100%;
		height: 275px;
		background-size: cover;
		margin: 0px 0px 30px 0px;
		position: relative;

		@media (max-width: 1202px) {
			height: 250px;
		}

		@media (max-width: 991.98px) {
			margin: 0px 0px 25px 0px;
		}

		@media (max-width: 767.98px) {
			margin: 0px 0px 15px 0px;
			height: 350px;
		}

		@media (max-width: 479.98px) {
			height: 250px;
		}
	}

	&__text {}
}

.responsive {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.text-item {
	display: flex;
	flex-direction: column;
	padding: 0 20px;
	align-items: center;

	@media (max-width: 991.98px) {
		padding: 0 15px;
	}

	@media (max-width: 767.98px) {
		padding: 0 40px;
	}

	&__title {
		margin: 0px 0px 15px 0px;
		line-height: 26px;

		@media (max-width: 767.98px) {
			font-size: 24px;
			max-width: 300px;
			line-height: 28px;
		}

		@media (max-width: 479.98px) {
			font-size: 22px;
			line-height: 26px;
		}
	}


	&__text {
		text-align: center;

		@media (max-width: 991.98px) {
			line-height: 22px;
		}

		@media (max-width: 767.98px) {
			font-size: 16px;
			margin: 0px 0px 30px 0px;
			max-width: 500px;
		}

		@media (max-width: 479.98px) {
			font-size: 15px;
		}
	}
}

// =============================================================================== //

.order {
	padding: 80px 0;
	background-color: #000;

	@media (max-width: 1202px) {
		padding: 60px 0;
	}

	@media (max-width: 991.98px) {
		padding: 40px 0;
	}

	@media (max-width: 479.98px) {
		padding: 30px 0;
	}

	&__body {
		display: flex;
		flex-direction: column;

		align-items: center;
	}

	&__title {
		text-align: center;
		font-size: 28px;
		font-weight: 600;
		line-height: 38px;
		max-width: 510px;
		color: #fff;
		position: relative;
		padding: 0 10px 30px 10px;
		margin: 0px 0px 40px 0px;

		&:after {
			content: '';
			width: 105px;
			height: 2px;
			background-color: #fff;
			position: absolute;
			left: 50%;
			margin: 0px 0px 0px -52.5px;
			bottom: 0;
		}

		@media (max-width: 991.98px) {
			padding: 0 10px 25px 10px;
		}

		@media (max-width: 767.98px) {
			font-size: 26px;
		}

		@media (max-width: 520px) {
			line-height: 34px;
			padding: 0 10px 20px 10px;
			margin: 0px 0px 30px 0px;
		}

		@media (max-width: 479.98px) {
			font-size: 22px;
			line-height: 30px;
		}

		@media (max-width: 380px) {
			font-size: 20px;
			line-height: 28px;
		}
	}
}