<nz-back-top></nz-back-top>
<div class="main">
  <div class="mainblock">
    <div class="mainblock-body">
      <div class="mainblock__img">
        <div class="mainblock-item">
          <div class="mainblock-item__title">Професійна поліграфія для вашого бізнесу</div>
          <a [routerLink]="['/contacts']" class="mainblock-item__btn btn btn_w"><span>Замовити консультацію</span></a>
          <div class="mainblock-item__arrow"><img src="../../../assets/images/img/icons/arrow-down.png"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="company">
    <div class="company-body">
      <div class="company__column img">
        <div class="company__img"></div>
      </div>
      <div class="company__column text">
        <div class="company-item">
          <div class="company-item__title title">Провідна компанія <br> у сфері поліграфії</div>
          <div class="company-item__text">
            <h1>«Color Cube»</h1> - спеціалізована та інноваційна компанія з динамічним розвитком, яка надає послуги 
              у сфері поліграфії та друку. Ми забезпечуємо високоякісні послуги загального
              та спеціалізованого друку, щоб задовольнити потреби наших клієнтів.
          </div>
          <a [routerLink]="['/about']" class="company-item__btn btn btn_b"><span>Детальніше</span></a>
        </div>
      </div>
    </div>
  </div>
  <div class="why">
    <div class="why-body">
      <div class="why__title title">Чому ми?</div>
      <div class="why__content">
        <div class="why__clolumn">
          <div class="why-item">
            <div class="why-item__title title-gold">Прозорий розрахунок</div>
            <div class="why-item__text">
              Погоджуємо із замовником всі розтрати до найменших дрібниць
            </div>
          </div>
        </div>
        <div class="why__clolumn">
          <div class="why-item">
            <div class="why-item__title title-gold">Кваліфіковані спеціалісти</div>
            <div class="why-item__text">
              В нашій команді працюють тільки висококваліфіковані та досвідчені працівники
            </div>
          </div>
        </div>
        <div class="why__clolumn">
          <div class="why-item">
            <div class="why-item__title title-gold">Якість обслуговування</div>
            <div class="why-item__text">
              Завдяки досвіду вміємо знайти індивідуальний підхід до кожного з клієнтів
            </div>
          </div>
        </div>
        <div class="why__clolumn">
          <div class="why-item">
            <div class="why-item__title title-gold">Ліцензії та гарантії</div>
            <div class="why-item__text">
              Гарантуємо 100% якість наших послуг. Забезпечуємо високоякісний друк на різноманітних матеріалах
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="services">
    <div class="services-body">
      <div class="services__title title">Наші послуги</div>
      <div class="services__content">
        <div class="services__column">
          <div class="services-item" [routerLink]="['/general']">
            <div class="services-item__img img_1">
              <a class="services-item__title">
                <p>Поліграфія</p>
              </a>
            </div>
          </div>
        </div>
        <div class="services__column">
          <div class="services-item" [routerLink]="['/width']">
            <div class="services-item__img img_2">
              <a class="services-item__title">
                <p>Широкоформатний друк</p>
              </a>
            </div>
          </div>
        </div>
        <div class="services__column">
          <div class="services-item" [routerLink]="['/special']">
            <div class="services-item__img img_3">
              <a class="services-item__title">
                <p>Сувеніри</p>
              </a>
            </div>
          </div>
        </div>
      </div>
      <a [routerLink]="['/services']" class="services__btn btn btn_b"><span>Всі послуги</span></a>
    </div>
  </div>
  <div class="comments">
    <div class="comments-body">
      <div class="comments__title title">Відгуки клієнтів</div>
      <div class="comments__content">
        <div class="comments__column">
          <div class="comments-item">
            <div class="comments-item__icon"><img src="../../../assets/images/img/icons/quotes.png" alt=""></div>
            <div class="comments-item__text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolorum animi
              possimus dolorem iure? Impedit beatae nemo qui eveniet, doloribus eaque quam ipsa facilis velit dolorum.
            </div>
            <div class="comments-item__title title-gold">Володимир Зеленський</div>
          </div>
        </div>
        <div class="comments__column">
          <div class="comments-item">
            <div class="comments-item__icon"><img src="../../../assets/images/img/icons/quotes.png" alt=""></div>
            <div class="comments-item__text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolorum animi
              possimus dolorem iure? Impedit beatae nemo qui eveniet, doloribus eaque quam ipsa facilis velit dolorum.
            </div>
            <div class="comments-item__title title-gold">Олексій Арестович</div>
          </div>
        </div>
        <div class="comments__column">
          <div class="comments-item">
            <div class="comments-item__icon"><img src="../../../assets/images/img/icons/quotes.png" alt=""></div>
            <div class="comments-item__text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolorum animi
              possimus dolorem iure? Impedit beatae nemo qui eveniet, doloribus eaque quam ipsa facilis velit dolorum.
            </div>
            <div class="comments-item__title title-gold">Михайло Подоляк</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="contacts">
    <div class="contacts-body">
      <div class="contacts__column">
        <div class="contacts-item">
          <div class="contacts-item__title">Давайте обговоримо ваше замовлення</div>
          <div class="contacts-item__text text-1">Заповніть форму або зателефонуйте нам для безкоштовної
            консультації.</div>
          <div class="contacts-item__text text-2"><span>Триторія роботи:</span> <br> Україна.</div>
          <div class="contacts-item__text text-3"><span>Наша адреса:</span> <br> вул. Велика Васильківська 13-А, Київ, 02222,
            Україна.
          </div>
          <div class="contacts-item__email">
            e-mail: <a href="mailto:color-cube@ukr.net">color-cube@ukr.net</a>
          </div>
          <div class="contacts-item__phone">
            <p>+38 (093) 770 27 00</p>
            <p>+38 (097) 525 02 02</p>
            <p>+38 (098) 555 12 12</p>
          </div>
        </div>
      </div>
      <div class="contacts__column">
        <div class="contacts-item">
          <form action="#" class="contacts-item__form form-contacts" [formGroup]="form" (ngSubmit)="submit()">
            <div class="form-contacts__body">
              <div class="form-contacts__row">
                <div class="form-contacts__column">
                  <div class="form-contacts__input">
                    <div class="form-contacts__label">Ім'я*</div>
                    <input autocomplete="off" type="text" class="input" formControlName="firstName" />
                    <div *ngIf="form.get('firstName')?.invalid && form.get('firstName')?.touched" class="validation">
                      <small *ngIf="form.get('firstName')?.errors.required">
                        Поле 'Ім'я' не може бути пустим.
                      </small>
                      <small *ngIf="form.get('firstName')?.errors.pattern">
                        Поле 'Ім'я' може складатися тільки з літер.
                      </small>
                      <small *ngIf="form.get('firstName')?.errors.minlength">
                        Довжина імені повинна бути не менше {{form.get('firstName')?.errors.minlength.requiredLength}}
                        літер.
                        Кількість літер зараз - {{form.get('firstName')?.errors.minlength.actualLength}}.
                      </small>
                    </div>
                  </div>
                </div>
                <div class="form-contacts__column">
                  <div class="form-contacts__input">
                    <div class="form-contacts__label">Прізвище</div>
                    <input autocomplete="off" type="text" class="input name" formControlName="secondName" />
                    <div class="validation"></div>
                  </div>
                </div>
              </div>
              <div class="form-contacts__row">
                <div class="form-contacts__column">
                  <div class="form-contacts__input">
                    <div class="form-contacts__label">E-mail*</div>
                    <input autocomplete="off" type="text" class="input" formControlName="email" />
                    <div *ngIf="form.get('email')?.invalid && form.get('email')?.touched" class="validation">
                      <small *ngIf="form.get('email')?.errors.required">
                        Поле 'E-mail' не може бути пустим.
                      </small>
                      <small *ngIf="form.get('email')?.errors.email">
                        Будь-ласка, введіть коректний E-mail.
                      </small>
                    </div>
                  </div>
                </div>
                <div class="form-contacts__column">
                  <div class="form-contacts__input">
                    <div class="form-contacts__label">Телефон*</div>
                    <input [showMaskTyped]="true" mask="+00(000) 000 - 00 - 00" autocomplete="off" type="tel"
                      class="input" formControlName="phone" [dropSpecialCharacters]="false" />
                    <div *ngIf="form.get('phone')?.invalid && form.get('phone')?.touched" class="validation">
                      <small *ngIf="form.get('phone')?.errors.required">
                        Поле 'Телефон' не може бути пустим.
                      </small>
                      <small *ngIf="form.get('phone')?.errors.pattern">
                        Поле 'Телефон' може складатися тільки з цифр.
                      </small>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-contacts__input">
                <div class="form-contacts__label">Текст повідомлення...</div>
                <textarea autocomplete="off" class="input" formControlName="message"></textarea>
                <div class="validation"></div>
              </div>
              <button class="form-contacts__btn btn btn_w" type="submit" [disabled]="form.invalid">
                <span>Відправити</span>
              </button>
            </div>
          </form>
          <div class="form-contacts-mob">
            <div class="contacts-item__text text-2 mob"><span>Триторія роботи:</span> <br> Україна.
            </div>
            <div class="contacts-item__text text-3 mob"><span>Наша адреса:</span> <br> вул. Кибальчича 13-А, Київ,
              21183,
              Україна.
            </div>
            <div class="contacts-item__email email mob">
              e-mail: <a href="mailto:color-cube@ukr.net">aybt@ukr.net</a>
            </div>
            <div class="contacts-item__phone phone mob">
              <p>+38 (073) 660 29 00</p>
              <p>+38 (073) 520 30 11</p>
              <p>+38 (098) 660 29 00</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="awords">
    <div class="awords-body">
      <div class="awords__column">
        <img src="../../../assets/images/img/icons/awords/aword01.png" alt="" class="responsive">
      </div>
      <div class="awords__column">
        <img src="../../../assets/images/img/icons/awords/aword02.png" alt="" class="responsive">
      </div>
      <div class="awords__column">
        <img src="../../../assets/images/img/icons/awords/aword03.png" alt="" class="responsive">
      </div>
      <div class="awords__column">
        <img src=".../../../assets/images/img/icons/awords/aword04.png" alt="" class="responsive">
      </div>
    </div>
  </div>
</div>